@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 37, 37);
}

.button-container {
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, .7);

}

#btn {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 75px;
    font-size: 25px;
    color: white;
    text-shadow: 0 2px 5px black;
    background: linear-gradient(to top, #696969, #575757);
    border: 2px solid black;
    border-radius: 7px;
    box-shadow: inset 0 20px 4px -19px rgba(255, 255, 255, .4);
    box-shadow: inset 0 12px 12px 0 rgba(0, 0, 0, .3);
}

#btn:hover {
    background: linear-gradient(to bottom, #696969, #575757);

}

#btn:active {
    transform: translateY(3px);
    box-shadow: inset 0 6px 6px 0 rgba(0, 0, 0, .3);

}